POSTGRES_DB=vybe_store
POSTGRES_USER=vybe
POSTGRES_PASSWORD=vybe_password
POSTGRES_PORT=5432

BACKEND_PORT=4000
FRONTEND_PORT=5173

PGADMIN_DEFAULT_EMAIL=admin@vybe.local
PGADMIN_DEFAULT_PASSWORD=admin
PGADMIN_PORT=5050
