node_modules
dist
build

.env
backend/.env
frontend/.env

.DS_Store
Thumbs.db

backend/uploads/*
!backend/uploads/.gitkeep
!backend/uploads/avatars/.gitkeep
!backend/uploads/products/.gitkeep
!backend/uploads/artworks/.gitkeep
!backend/uploads/collectibles/.gitkeep
!backend/uploads/site/.gitkeep

backend/prisma/migrations/dev.db

.vscode